@{
    ViewBag.Title = "Contact US";
}
<h2>@ViewBag.Title.</h2>

<address>
    Amman<br />
    Khalda<br />
    <abbr title="Phone">P:</abbr>
    77777777777777<br />
    <strong>Email:</strong>   <a href="mailto:Support@example.com">info@RBK.org</a>
</address>
